/* HEADER */

.header-cursos{
    height: 300px;
}

/* MAIN */

.pagina-cursos{
    padding: 50px 40px;

    max-width: 1100px;

    margin: auto;
}

/* TITULOS */

.pagina-cursos h2{
    margin-bottom: 25px;

    font-size: 32px;
}

/* FORMULARIO */

.agregar-curso{
    margin-bottom: 50px;
}

#formCurso{
    display: flex;
    gap: 15px;

    flex-wrap: wrap;
}

#formCurso input{
    flex: 1;

    min-width: 220px;

    padding: 14px;

    border-radius: 10px;

    border: 1px solid #334155;

    background-color: #0f172a;

    color: white;
}

#formCurso button{
    padding: 14px 24px;

    border: none;

    border-radius: 10px;

    background: linear-gradient(to right, #38bdf8, #818cf8);

    color: white;

    font-weight: bold;

    cursor: pointer;

    transition: 0.3s;
}

#formCurso button:hover{
    transform: translateY(-2px);

    box-shadow: 0px 8px 20px rgba(56,189,248,0.3);
}

/* LISTA */

.lista-cursos{
    margin-top: 30px;
}

/* CARD CURSO */

.curso-card{
    background: rgba(30,41,59,0.85);

    border: 1px solid rgba(255,255,255,0.05);

    border-radius: 18px;

    padding: 22px;

    margin-bottom: 20px;

    display: flex;

    justify-content: space-between;
    align-items: center;

    box-shadow: 0px 8px 20px rgba(0,0,0,0.2);

    transition: 0.3s;
}

.curso-card:hover{
    transform: translateY(-4px);

    border-color: rgba(56,189,248,0.3);
}

.curso-card h3{
    margin-bottom: 8px;
}

.curso-card p{
    color: #cbd5e1;
}

.curso-card button{
    padding: 12px 20px;

    border: none;

    border-radius: 10px;

    background: linear-gradient(to right, #38bdf8, #818cf8);

    color: white;

    font-weight: bold;

    cursor: pointer;
}

/* RESPONSIVE */

@media(max-width: 768px){

    .pagina-cursos{
        padding: 25px;
    }

    .curso-card{
        flex-direction: column;

        gap: 15px;

        text-align: center;
    }

}